{
  "plugin": [
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-airbnb",
    "stylelint-config-recess-order"
  ],
  "ignore": [
    "**/node_modules/**"
  ],
  "rules": {
    // For SCSS
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    // Other
    "indentation": 2,
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "color-named": "never",
    "color-no-invalid-hex": true,
    "function-comma-space-after": "always-single-line",
    "function-comma-space-before": "never",
    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,
    "string-no-newline": true,
    "string-quotes": "single",
    "length-zero-no-unit": true,
    "unit-case": "lower",
    "unit-no-unknown": true,
    "value-no-vendor-prefix": true,
    "value-list-comma-newline-after": "always-multi-line",
    "value-list-comma-space-after": "always-single-line",
    "value-list-comma-space-before": "never",
    "shorthand-property-no-redundant-values": true,
    "property-case": "lower",
    "property-no-vendor-prefix": true,
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-colon-newline-after": "always-multi-line",
    "declaration-colon-space-after": "always-single-line",
    "declaration-colon-space-before": "never"
  }
}