//--------------------------
// setting
//--------------------------
@charset "UTF-8";

body {
  display: flex;
  width: 1080px;
  background-color: $color_base_white;

  div.main-content {
    display: grid;
  }
}
