//--------------------------
// setting
//--------------------------
@charset "UTF-8";

//--------------------------
// 基本設定色
//--------------------------
$color_base_white: #fff;
$color_base_black: #333;
$color_base_gray:  #efefef;

//--------------------------
// テーマ色
//--------------------------
$color_theme_green:     #026400;
$color_theme_white:     #fff;
$color_theme_orange:    #f06955;
$color_theme_gray:      #919191;
$color_theme_alert:     #c3001e;
$color_theme_departure: #288cbe;
$color_theme_arrival:   #e66432;
